body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00879f;
  color: white;
}

a {
  color: #00b7ff;
}

#wiki-embed {
  width: 80vw;
  height: 50vh;
  overflow: auto;
  border: white 10px solid;
}
