body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00879f;
  color: white;
}

a {
  color: #00b7ff;
}

#wiki-destination-embed,
#wiki-embed {
  width: 80vw;
  padding: 10px;
  background-color: white;
  color: black;
}

.user-list-self {
  font-weight: bold;
}

.inactive {
  color: grey;
}

.inactive:hover {
  cursor: default;
}

.hidden {
  display: none;
}

.external-link {
  cursor: default;
  color: black;
  text-decoration: none;
}
