<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head.ejs %>
  <body>
    <header>
      <h1>Wikipedia European Countries Game</h1>
    </header>
    <div class="error-message">
      <h1 class="error"><%= error %></h1>
      <a class="error-link" href="/"
        ><button>Join or start a different room</button></a
      >
    </div>
  </body>
</html>
