<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
    <h1>wiki-game</h1>
    <section>
      <form action="/new" method="GET" id="form-new-game">
        <fieldset>
          <legend>Start a new game</legend>
          <input
            type="text"
            id="user-name"
            placeholder="your name"
            name="user"
          />
          <input
            type="text"
            id="room-name"
            placeholder="room name"
            name="room"
          />
          <input type="submit" value="let's go!" />
        </fieldset>
      </form>
      <form action="/join" method="GET" id="form-join-game">
        <fieldset>
          <legend>Join an existing game</legend>
          <input
            type="text"
            id="user-name"
            placeholder="your name"
            name="user"
          />
          <select name="room" id="select-room">
            <% rooms.forEach(room => { %>
            <option value="<%= room.roomName %>"
              ><%= room.roomName %> (<%= room.userTotal %> player)</option
            >
            <% }) %>
          </select>
          <input type="submit" value="let's go!" />
        </fieldset>
      </form>
    </section>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
