<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
    <header>
      <h1><%= room %></h1>
      <h2 id="username"><%= user %></h2>
      <button id="ready-button">not ready</button>
    </header>

    <section>
      <h3>Other players</h3>
      <ul id="user-list"></ul>

      <button id="start-button" class="inactive" data-ready="false">
        Start game
      </button>
    </section>

    <section>
      <article id="wiki-embed"></article>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/new.js"></script>
  </body>
</html>
