<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head.ejs %>
  <body>
    <header>
      <h1>Wikipedia European Countries Game</h1>
      <h2>Results</h2>
    </header>
    <section>
      <table>
        <thead>
          <th>Country</th>
          <th>Avg. clicks</th>
          <th>Times played</th>
        </thead>
        <tbody>
          <% results.forEach(result => { %>
          <tr class="result-row">
            <td><%= result.country %></td>
            <td><%= result.averageAmountOfClicks %></td>
            <td><%= result.timesPlayed %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  </body>
</html>
