<!DOCTYPE html>
<html lang="en">
<% include ./partials/head.ejs %>

<body>
  <header>
    <h1>Wikipedia European Countries Game</h1>
    <h2><%= room %> | <span id="username"><%= user %></span></h2>
  </header>
  <main>
    <section id="post-game-section" class="hidden">
      <article>
        <h3 id="winner-text">Winners</h3>
        <a id="results-link" href="results">
          <button id="results-button" class="results-button">
            view results for all countries (and leave the room)
          </button>
        </a>
      </article>
    </section>
    <!-- PRE-GAME INFO -->
    <section id="pre-game-section">
      <article id="other-players">
        <h3>Other players</h3>
        <ul id="user-list">
          <li></li>
        </ul>
      </article>

      <div class="buttons-container">
        <button id="ready-button" class="ready-button" data-ready="false">
          Click here when you're ready
        </button>
        <button id="start-button" class="start-button inactive" data-ready="false">
          Start game
        </button>
      </div>
    </section>
    <section id="game-section" class="hidden">
      <div class="game-section-top">
        <article id="destination-article">
          <h3>Destination</h3>
          <div id="wiki-destination-embed"></div>
        </article>
        <article id="progress-article">
          <h3>Current scores</h3>
          <ol id="players-progress-list"></ol>
        </article>
      </div>
      <article id="wiki-article">
        <h3>Game window</h3>
        <h4>Visited pages</h4>
        <ul id="pages" class="clicked-pages-list"></ul>
        <h4>Clicks: <span id="clicks">0</span></h4>
        <article id="wiki-embed"></article>
      </article>
    </section>
  </main>
  <footer>created by <a href="https://lenn4rt.com/">lenn4RT</a></footer>

  <script src="/socket.io/socket.io.js"></script>
  <script src="javascripts/room.js"></script>
</body>

</html>