<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head.ejs %>
  <body>
    <header>
      <h1><%= room %></h1>
      <h2 id="username"><%= user %></h2>
    </header>
    <section>
      <button id="ready-button">not ready</button>
    </section>

    <section>
      <h3>Other players</h3>
      <ul id="user-list"></ul>

      <button id="start-button" class="inactive" data-ready="false">
        Start game
      </button>
    </section>
    <section>
      <h3>Players Progress</h3>
      <ol id="players-progress-list"></ul>
    </section>
    <section>
      <h3>Destination</h3>
      <article id="wiki-destination-embed"></article>
    </section>
    <section>
      <h3>Your window</h3>
      <h4>Your visited pages:</h4>
      <ul id="pages" class="clicked-pages-list"></ul>
      <h4>Clicks: <span id="clicks">0</span></h4>
      <article id="wiki-embed"></article>
    </section>
    <section>
      <h3>Winners</h3>
      <ol id="winners-list"></ol>
      <h3>Losers</h3>
      <ol id="losers-list"></ol>
      <button id="start-over-button">start over</button>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/room.js"></script>
  </body>
</html>
